// Colors
$primary: #4B858E;
$secondary: #EBECF0;
$success: #709CA3;
$success-light: #DAE5E7;
$info: #15212F;
$warning: #AF8C55;
$danger: #b74848;
$light: #fff;
$white: rgba(#fff, 0.85);
$dark: #212529;

// Body
$body-bg: #fff;
$body-color: #111;

// Card
$card-color: $dark;

// Navbar
$navbar-light-color: rgba($dark, 0.55);

$min-contrast-ratio: 2.5;